[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "intel-ipsec-mb"]
	path = intel-ipsec-mb
	url = https://github.com/intel/intel-ipsec-mb.git
[submodule "cryptography-primitives"]
	path = cryptography-primitives
	url = https://github.com/intel/cryptography-primitives
